<div
    style="position: absolute; margin: 0; top: 0; left: 0; width: 100%; height: 100vh; background-color: #ffffff;"
></div>
<div #mapDiv class="container" width="device-width" style="width: 100%; display: block; position: absolute;"></div>
<div #buttonDiv class="container" style="position: absolute; top: 80%; text-align: center;">
    <button type="button" class="btn btn-success btn-lg" (click)="reload()" onclick="this.blur()">
        regenerate
    </button>
</div>
<div #versionInfoDiv class="container" style="position: absolute; top: 95%; text-align: center;"></div>
