<div class="container">
    <legend>catan random map generator</legend>
    <fieldset class="form-group">
        <div class="form-check">
            <label class="form-check-label">
                <input
                    [(ngModel)]="gameOption"
                    type="radio"
                    class="form-check-input"
                    name="optionsRadios"
                    id="optionsRadios1"
                    value="basegame"
                    checked=""
                />
                base game
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input
                    [(ngModel)]="gameOption"
                    type="radio"
                    class="form-check-input"
                    name="optionsRadios"
                    id="optionsRadios2"
                    value="seafarers"
                />
                seafarers
            </label>
        </div>
    </fieldset>
    <button type="button" class="btn btn-success" (click)="generate()" onclick="this.blur()">
        generate
    </button>
    <br />
</div>
